
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*@model WebStore.Data.DTOs.UserModule.UserDTO*@


<link href="~/userprofile/style.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="content content-full-width">
                            <!-- begin profile -->
                            <div class="profile">
                                <div class="profile-header">
                                    <!-- BEGIN profile-header-cover -->
                                    <div class="profile-header-cover"></div>
                                    <!-- END profile-header-cover -->
                                    <!-- BEGIN profile-header-content -->
                                    <div class="profile-header-content">
                                        <!-- BEGIN profile-header-img -->
                                        <div class="profile-header-img">
                                            <img src="~/Content/images/Admin-icon.png" alt="">

                                        </div>
                                        <!-- END profile-header-img -->
                                        <!-- BEGIN profile-header-info -->
                                        <div class="profile-header-info">
                                            <h4 class="m-t-10 m-b-5">Peter Kachezi</h4>
                                            <p class="m-b-10">Admin</p>
                                            <a href="#" class="btn btn-xs btn-success">Edit Profile</a>
                                        </div>
                                        <!-- END profile-header-info -->
                                    </div>
                                    <!-- END profile-header-content -->
                                    <!-- BEGIN profile-header-tab -->
                                    @*<ul class="profile-header-tab nav nav-tabs">
                                            <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">POSTS</a></li>
                                            <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">ABOUT</a></li>
                                            <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                                            <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                                            <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>
                                        </ul>*@
                                    <!-- END profile-header-tab -->
                                </div>
                            </div>
                            <!-- end profile -->
                            <!-- begin profile-content -->
                            <div class="profile-content">
                                <!-- begin tab-content -->
                                <div class="tab-content p-0">

                                    <!-- begin #profile-about tab -->
                                    <div class="tab-pane fade in active show" id="profile-about">
                                        <!-- begin table -->
                                        <div class="table-responsive">

                                            <input type="hidden" value="78585888sdsrerekrerer323232" name="Id" id="txtId" />

                                            <table class="table table-profile">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <h4>User Account Details</h4>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="highlight">
                                                        <td class="field">Personal Information</td>
                                                        <td><a href="#"></a></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td colspan="2"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="field">Mobile</td>
                                                        <td><i class="fa fa-mobile fa-lg m-r-5"></i> 0704509484 <a href="javascript:;" class="m-l-5">@*Edit*@</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="field">Email</td>
                                                        <td><a href="#">Peterkachezi@gmail.com</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="field">User Name</td>
                                                        <td><a href="#">Peterkachezi@gmail.com</a></td>
                                                    </tr>
                                                    <tr class="divider">
                                                        <td colspan="2"></td>
                                                    </tr>
                                                    <tr class="highlight">
                                                        <td class="field">Account Information</td>
                                                        <td><a href="javascript:;"></a></td>
                                                    </tr>


                                                    <tr>
                                                        <td class="field">Status</td>
                                                        <td>
                                                            <a href="javascript:;">
                                                                @*@{
                                                                        var status = Model.AccountStatus;

                                                                        if (status == 1)
                                                                        {
                                                                            <span class="field">Active</span>

                                                                        }

                                                                        if (status == 0)
                                                                        {
                                                                            <span class="field">Disabled</span>
                                                                        }

                                                                    }*@

                                                                <span class="field">Disabled</span>
                                                            </a>




                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="field">Entry Date</td>
                                                        <td><a href="javascript:;">2021-20-12</a></td>
                                                    </tr>
                                                    @*<tr>
                                                            <td class="field">Website</td>
                                                            <td><a href="javascript:;">Add Webpage</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field">Gender</td>
                                                            <td>
                                                                <select class="form-control input-inline input-xs" name="gender">
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field">Birthdate</td>
                                                            <td>
                                                                <select class="form-control input-inline input-xs" name="day">
                                                                    <option value="04" selected="">04</option>
                                                                </select>
                                                                -
                                                                <select class="form-control input-inline input-xs" name="month">
                                                                    <option value="11" selected="">11</option>
                                                                </select>
                                                                -
                                                                <select class="form-control input-inline input-xs" name="year">
                                                                    <option value="1989" selected="">1989</option>
                                                                </select>
                                                            </td>
                                                        </tr>*@
                                                    @*<tr>
                                                            <td class="field">Language</td>
                                                            <td>
                                                                <select class="form-control input-inline input-xs" name="language">
                                                                    <option value="" selected="">English</option>
                                                                </select>
                                                            </td>
                                                        </tr>*@
                                                    <tr class="divider">
                                                        <td colspan="2"></td>
                                                    </tr>
                                                    <tr class="highlight">
                                                        <td class="field">&nbsp;</td>
                                                        <td class="p-t-10 p-b-10">
                                                            <button type="button" onclick="RegenerateCredentials()" class="btn btn-primary width-150">Resend Login Details</button>

                                                            @*@{
                                                                    var s = Model.AccountStatus;

                                                                    if (s == 1)
                                                                    {
                                                                        <button type="button" onclick="DisableAccount()" class="btn btn-danger">Disable Account</button>

                                                                    }

                                                                    if (s == 0)
                                                                    {
                                                                        <button type="button" onclick="EnableAccount()" class="btn btn-warning">Enable Account</button>

                                                                    }

                                                                }*@

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end table -->
                                    </div>
                                    <!-- end #profile-about tab -->
                                </div>
                                <!-- end tab-content -->
                            </div>
                            <!-- end profile-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divLoader" style="display:none;" class="loader">

    <img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />

</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<link href="~/sweetalart/sweetalert.min.css" rel="stylesheet" />
<script src="~/sweetalart/sweetalert.min.js"></script>
<script>

    function RegenerateCredentials(e) {

        $("#divLoader").show();

       @*var id ='@Model.Id';*@


        $.ajax({

            type: "POST",

            url: "/Admin/UserManagement/ResendAccountLogins/"+ id,

            //data: data,

            success: function (response) {
                if (response.success) {
                    // Display success message
                    swal({
                        position: 'top-end',
                        type: "success",
                        title: response.responseText,
                        showConfirmButton: false,
                        // timer: 5000,

                    }), setTimeout(function () { window.location = "/Admin/UserManagement/"; }, 3000);

                } else {
                    // Display error message
                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                }
            },

            // Display error message from db
            error: function (response) {
                alert("error!");  //

            }
        })

    }


    function DisableAccount(e) {

        $("#divLoader").show();

       @*var id ='@Model.Id';*@


        $.ajax({

            type: "POST",

            url: "/Admin/UserManagement/DisableAccount/"+ id,

            //data: data,

            success: function (response) {
                if (response.success) {
                    // Display success message
                    swal({
                        position: 'top-end',
                        type: "success",
                        title: response.responseText,
                        showConfirmButton: false,
                        // timer: 5000,

                    }), setTimeout(function () { window.location ="/Admin/UserManagement/"; }, 3000);

                } else {
                    // Display error message
                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                }
            },

            // Display error message from db
            error: function (response) {
                alert("error!");  //

            }
        })

    }


    function EnableAccount(e) {

        $("#divLoader").show();

       @*var id ='@Model.Id';*@


        $.ajax({

            type: "POST",

            url: "/Admin/UserManagement/EnableAccount/"+ id,

            //data: data,

            success: function (response) {
                if (response.success) {
                    // Display success message
                    swal({
                        position: 'top-end',
                        type: "success",
                        title: response.responseText,
                        showConfirmButton: false,
                        // timer: 5000,

                    }), setTimeout(function () { window.location ="/Admin/UserManagement/"; }, 3000);

                } else {
                    // Display error message
                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                }
            },

            // Display error message from db
            error: function (response) {
                alert("error!");  //

            }
        })

    }








</script>



